<p>10 most recent "<%- word %>" links</p>
<ul class="list">
<li><a href="<%- link0 %>"><%- link0 %></a>
<li><a href="<%- link1 %>"><%- link1 %></a>
<li><a href="<%- link2 %>"><%- link2 %></a>
<li><a href="<%- link3 %>"><%- link3 %></a>
<li><a href="<%- link4 %>"><%- link4 %></a>
<li><a href="<%- link5 %>"><%- link5 %></a>
<li><a href="<%- link6 %>"><%- link6 %></a>
<li><a href="<%- link7 %>"><%- link7 %></a>
<li><a href="<%- link8 %>"><%- link8 %></a>
<li><a href="<%- link9 %>"><%- link9 %></a>
</ul>
